.gtkstyle-fallback {
    background-color: #111111;
    color: #FFFFFF;
    text-shadow: 2px 2px 2px black;
    transition: 250ms;
  }
  
  .gtkstyle-fallback:hover {
    background-color: #111111;
    color: #FFFFFF;
    text-shadow: 2px 2px 2px black;
  }
  
  .gtkstyle-fallback:active {
    background-color: #111111;
    color: #FFFFFF;
    text-shadow: 2px 2px 2px black;
  }
  
  .gtkstyle-fallback:disabled {
    background-color: #111111;
    color: #FFFFFF;
    text-shadow: 2px 2px 2px black;
  }
  
  .gtkstyle-fallback:selected {
    background-color: #FFA500;
    border: 1px solid #FFA500;
    color: #FFFFFF;
    text-shadow: 2px 2px 2px black;
  }